01:[[_ostrich.loglevel]]
02:[[_ostrich.tmpdir]]
03:[[_ostrich.sdkconfig.params.animal]]
04:[[_ostrich.sdkconfig.params.location]]
05:[[_ostrich.operation]]
06:[[_ostrich.templateLocation]]
07:[[_ostrich.templateRoot]]
08:[[_ostrich.localconfig.animal]]