import logging

name="[[ plugin.name ]]"

logging.info("Dummy step for plugin %s",name)

home="[[ env("HOME") ]]"
home2="[[ env("TOTO") or env("HOME") ]]"

logging.info("home=%s, home2=%s",home,home2)
