runner:
   kind: container
   image: alpine
commands:
  - |
    echo "this is unit tests"
    cat /etc/os-release
    cat [[ "unit.txt" | here | toUnixPath ]]
  - cmd: echo "syntax with cmd key as string"
  - cmd:
    - sh
    - -c
    - echo "syntax with cmd key as list"
  - cmd: cat /etc/os-release
    image: debian:stable-slim