minVersion="[[ (template.params.minVersion or "1.1.0") | minVersion("1.1.0","template.params.minVersion") ]]"
maxVersion="[[ (template.params.maxVersion or "1.2.0") | maxVersion("1.2.0","template.params.maxVersion") ]]"

print(f"minVersion: {minVersion} >= 1.1.0, maxVersion: {maxVersion} <= 1.2.0")
