here:[[ template.params.folder | here | toUnixPath]]
noslash1:[[ "folder_noslash" | noslash ]]
noslash2:[[ "folder_slash/" | noslash ]]
md5hash:[[ "unittest" | md5hash ]]
fromTemplate:[[ "folder" | fromTemplate ]]
fromTemplates:[[ "folder" | fromTemplates ]]
fromJob:[[ "folder" | fromJob ]]
nosnapshot1:[[ "1.2.3" | nosnapshot ]]
nosnapshot2:[[ "3.4.5-devel" | nosnapshot ]]
basename:[[ "folder/sub/file.txt" | basename ]]
dirname:[[ "folder/sub/file.txt" | dirname ]]
bool1:[[template.params.valTrue]],[[ template.params.valTrue | bool ]]
bool2:[[template.params.valFalse]],[[ template.params.valFalse | bool ]]
bool3:[[template.params.valInt]],[[ template.params.valInt | bool ]]
bool4:[[template.params.valString]],[[ template.params.valString | bool ]]
---